<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TulipTGR | Template</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grid.css">
</head>

<body>
    <header>
        <div class="wrap">
            <div style="overflow: auto; padding: 5vh 0;">
                <div class="logo">
                    <span>Logo</span>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                        <li><a href="#">Link 5</a></li>
                    </ul>
                </nav>
            </div>
            <div style="overflow: auto; padding: 5vh 0;">
                <article>
                    <h1>Intro</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quaerat.</p>
                </article>
                <section style="padding-top: calc(9/16*6/10*100%); background: darkgray;"></section>
            </div>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <div class="wrap">
            <div class="grid-container">
                <div class="g31" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g32" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g33" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g31" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g32" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g33" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g31" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g32" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g33" style="background: var(--color2); padding-top: 100%;">
                    <span style="margin-top: 45%;">content</span>
                </div>
                <div class="g21" style="background: var(--color2); padding-top: 50%;">
                    <span style="margin-top: 20%;">content</span>
                </div>
                <div class="g22" style="background: var(--color2); padding-top: 50%;">
                    <span style="margin-top: 20%;">content</span>
                </div>
                <div class="g1" style="background: var(--color2); padding-top: 15%;">
                    <span style="margin-top: 5%;">content</span>
                </div>
            </div>
        </div>
    </main>
    <!-- END MAIN -->

    <footer>
        <div class="wrap">
            <nav>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                </ul>
            </nav>
            <article>
                <p>Copyright</p>
            </article>
        </div>
    </footer>
</body>

<style>
    .grid-container>div {
        position: sticky;
    }
    
    .grid-container>div>span {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        font-size: 2em;
    }
</style>

</html>